header {
    display: flex;
    justify-content: center;
}
#desc {
    display: flex;
    justify-content: center;
}
.flex {
    display:flex;
    
}
.input-field {
    margin:0;
}
.submitBtn {
    width: 50%;
}
.noMargin {
    margin: 20px;
}
#content {
    margin-left: 27%;
}
.searchHistory {
    margin:5% 0;
}
#asideStyle {
    /* border: 5px solid black; */
    margin-left: 1%;
}
h3 {
    font-size: 25px;
    text-align: center;
}